/* 
    API Project 1 - Pokemon API selected

    Styling criteria:
        Some styling is required
        Feel free to use Bootstrap, Material, Flexbox, CSS Grid, etc.
        Content should be visually appealing
        The content must be professional and appropriate
        Do not take up a large portion of your time styling - that's always something you can come back to. 
*/

body {
    background-image: url("./assets/body_bg.png");
    /* background-repeat:repeat; */
    /* background-size: 100%; */
    background-attachment: fixed;
}

.headers {
    left: 1.5%;
    top: 10px;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 95%;
    border-style: solid;
    border-width: 5px;
    border-radius: 10px;
    border-color: rgba(221, 14, 14, 0.7);
    background-color: rgba(28, 24, 255, 0.4);
    margin: 12px;
    padding: 8px;
}

.wrapper {
    display: flex;
    left: 1.5%;
    top: 80px;
    justify-content: center;
    align-self: center;
    width: 95%;
    /* border-image: url(./assets/pokemon-dialog-box.png) 30 / 19px round; */
    /* border: solid 5px rgba(221, 14, 14, 0.7); */
    border-radius: 10px;
    /* background-color: rgba(221, 221, 221, 0.1); */
    margin: 12px;
    padding: 8px;
}

.pokeSplain {
    margin: 10px;
    padding: 10px;
    border: dotted 2px rgb(221,14,14);
    border-radius: 20px;
    background-color: rgba(28, 24, 255, 0.3);
    color: white;
}

h1 {
    color: rgb(230, 230, 12)
}

p.subtext {
    font-size: small;
    color: white;
}

p.splainer {
    font-size: medium;
    color: white;
}

img.pokePic {
    border:ridge 2px;
    border-radius: 20px;
    /* border-color: rgb(221,14,14); */
    margin: 10px;
    
}